<!-- The website's footer -->
<footer class="mitosis-footer text-center footer">


    <!-- Social network -->
    <div class="social-network">

        <ul class="list-inline">

            <!-- Twitter link -->
            <li>
                <a href="{{ site.social_links.twitter }}" target="_blank" class="btn-social btn-outline" aria-label="Twitter account" title="Twitter account"><i class="fa fa-fw fa-twitter"></i></a>
            </li>

            <!-- Github link -->
            <li>
                <a href="{{ site.social_links.github }}" target="_blank" class="btn-social btn-outline" aria-label="Github account" title="Github account"><i class="fa fa-fw fa-github"></i></a>
            </li>

            <!-- Email us link -->
            <li>
                <a href="mailto:{{ site.email }}" target="_blank" class="btn-social btn-outline" aria-label="Email us" title="Email us"><i class="fa fa-fw fa-envelope"></i></a>
            </li>

        </ul>

    </div>


    <div class="row copyright-container no-gutters">

        
        <div
            class="col-md-5 push-md-6 email-label">
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>

        <div
            class="col-md-2 hidden-sm-down separator-label">
            |
        </div>

        <div
            class="col-md-5 pull-md-6 copyright-label">
            Copyright &copy; Nirby-Mitosis {{ site.time | date: '%Y' }}
        </div>

    </div>



</footer>