<!-- The website's footer -->
<footer class="mitosis-footer text-center">

    <div class="container">

        <div class="row">

            <!-- Copyright -->
            <div
                class="col-md-4">
                Copyright &copy; Nirby-Mitosis {{ site.time | date: '%Y' }}
            </div>

            <!-- Social network -->
            <div
                class="col-md-4">

                <ul class="list-inline">

                    <!-- Twitter link -->
                    <li>
                        <a href="{{ site.social_links.twitter }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>

                    <!-- Github link --> 
                    <li>
                        <a href="{{ site.social_links.github }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                    </li>

                </ul>

            </div>

            <!-- Contact -->
            <div
                class="col-md-4">
                Contact us : <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </div>

        </div>

    </div>

</footer>