<!-- The website's header -->
<header class="mitosis-header">

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <h1>
                    <a 
                        href="{{site.github_repository}}"
                        aria-label="Go to website's home"
                        title="Go to website's home">
                        <img src="/assets/images/logo-mitosis-200-36.png" alt="i-Mitosis Logo" width="100" height="18">
                    </a>
                </h1>

            </div>
            <ul class="nav navbar-nav navbar-right">

                <li class="page-scroll">
                    <a 
                        href="{{site.github_repository}}" target="_blank"
                        aria-label="Go to mitosis generator's quick start tutorial"
                        title="Go to mitosis generator's quick start tutorial">
                        Quick Start
                    </a>
                </li>

                <li class="github-icon-link">
                    <a 
                        href="{{site.github_repository}}" class="dropdown-toggle navlink" 
                        target="_blank" role="button"
                        aria-label="Go to mitosis generator on Github"
                        title="Go to mitosis generator on Github">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <!--<div>

        <h1>
            <a>
                <img src="/assets/images/logo-mitosis-200-36.png" alt="i-Mitosis Logo" width="100" height="18">
            </a>
        </h1>

    </div>-->

</header>