.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom to avoid weird problems with the footer */
    @media screen and (max-width: 576px){
        margin-bottom: 190px;
    }
    @media screen and (min-width: 576px){
        margin-bottom: 160px;
    }
    
    font-size: 1.5em;
}

// Bootstrap Wrap
* {
    outline: none;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    .btn {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        font-size: 20px;
        line-height: 28px;
        &:focus {
            outline: 0;
        }
        i {
            position: absolute;
            right: 14px;
            top: 13px;
        }
    }
}

.clear-both {
    clear: both;
}

hr {
    &.star-light,
    &.star-primary {
        margin: 30px auto 30px;
        padding: 0;
        max-width: 250px;
        border: 0;
        border-top: solid 5px;
        text-align: center;
    }
    &.star-light:after,
    &.star-primary:after {
        content: "\f005";
        display: inline-block;
        position: relative;
        top: -.8em;
        padding: 0 .25em;
        font-family: FontAwesome;
        font-size: 1.5em;
    }
    &.star-light {
        border-color: #fff;
        &:after {
            color: #fff;
            background-color: $primary-color;
        }
    }
    &.star-primary {
        border-color: #2c3e50;
        &:after {
            color: #2c3e50;
            background-color: #FFF;
        }
    }
}

.highlight {
    padding: 15px 10px 2px 10px;
}

.stacks .clip.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.stacks {
    margin: 0 auto;
    list-style: none;
    padding: 0px 100px 0 100px;
    max-width: 1000px;

    .clip {
        margin: 5px;
        width: 150px;
        height: 150px;
        background-color: white;
        border: 1px solid white;
        color: #09486b;

        @media screen and (min-width: 520px){
            float: left;


        }

        
        text-align: center;

        &.img-circle {
            -webkit-border-radius: 500px;
            -moz-border-radius: 500px;
            border-radius: 500px;
        }

        img {
            -webkit-border-radius: 500px;
            -moz-border-radius: 500px;
            border-radius: 500px;
            width: 100px;
            height: 100px;
        }

        .title_sub_tech {
            margin-top: 5px;
            font-size: 13px;
            color: #09486b;
            display: block;
            text-align: center;
        }
    }
}

.img-circle {
    border-radius: 50%;
}