.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

html {
    height: 100%
}

body {
    padding-top: 0px;
    height: 100%;
    position: relative;
    font-size: 1.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    .page-content-class {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        height: 100%;
        width:100%;
    }
}

// Bootstrap Wrap
* {
    outline: none;
}


.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    .btn {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        font-size: 20px;
        line-height: 28px;
        &:focus {
            outline: 0;
        }
    }
}