.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom to avoid weird problems with the footer */
    margin-bottom: 200px;
    font-size: 1.5em;
}

// Bootstrap Wrap
* {
    outline: none;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    .btn {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        font-size: 20px;
        line-height: 28px;
        &:focus {
            outline: 0;
        }
        i {
            position: absolute;
            right: 14px;
            top: 13px;
        }
    }
}