.mitosis-header {

    

    .navbar {

        height: $mitosis-header-height;
        background-color: rgba(44,62,80,.5);


        .menu-buttons-container {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;

            .quickstart-container {
                
            }

            .github-icon-container {
                padding-top: 6px;
                padding-bottom: 0;
            }
        }

        .nav-link {
            color: white;

            &:hover {
                color: rgba(255,255,255,.7);
            }
        }
        
    }
}