/*
    We put all scss variables and common methods here
*/

// header vars
$mitosis-header-height: 50px;

// home screen vars
$mitosis-home-margin-top: 60px;

// footer vars
$mitosis-footer-height: 50px;

// general colors 
$primary-color: #3E8ACC;