/*
    We put all scss variables and common methods here
*/

// header vars
$mitosis-header-height: 60px;

// home screen vars
$mitosis-home-margin-top: 60px;

// footer vars
$mitosis-footer-height: 50px;

// general colors 
$primary-color: #3E8ACC;

// colors
$color-white: #FFF;
$color-grey: #EAEAEA;
$color-grey-level1: #E4E4E4;
$color-dark-blue: #353d47;
$color-darkest-blue: #09486b;
$color-darkest-blue-with-transparancy: rgba(9, 72, 107, .9);
$primary-color: #3E8ACC;